{% extends 'admin/base.html.twig' %}

{% block title %}{{ "Nouvelle entrée dans l'annuaire"|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{  'Créer une nouvelle entrée'|trans }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                {{ include('admin/users_phone/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
